@import "tailwindcss";

@theme {
    --font-display: "Inter", sans-serif;
    --color-primary-teal: #0d9488;
    --color-primary-dark: #134e4a;
    --color-accent-orange: #f59e0b;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
    /* bg-slate-50 */
}